@using Helobis.Hr.Web.Site.Resources

<div class="container" id="privacy-div">
    <i class="close-privacy-div fa fa-times fa-2x"></i>
    <div class="inner">
        <p>@ResPrivacy.PrivacyDiv<a href="@Url.Action("Privacy", "Home") "> @ResPrivacy.PrivacyLink</a></p>
    </div>
</div>

