@using Helobis.Hr.Web.Site.Resources

<section class="container" id="carousel-section">
    <div class="inner">
        <div class="row">
            <div class="col-sm-12">
                <div id="carousel-main" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-main" data-slide-to="1"></li>
                        <li data-target="#carousel-main" data-slide-to="2"></li>
                        <li data-target="#carousel-main" data-slide-to="3"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/images/slide1.jpg" />
                            <div class="carousel-caption">
                                <h3>@ResCorporate.One</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/slide2.jpg" />
                            <div class="carousel-caption">
                                <h3>@ResCorporate.Two</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/slide3.jpg" />
                            <div class="carousel-caption">
                                <h3>@ResCorporate.Three</h3>
                            </div>
                        </div>
                        <div class="item">
                            <img src="~/images/slide4.jpg" />
                            <div class="carousel-caption">
                                <h3>@ResCorporate.Four</h3>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-main" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-main" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>